<!DOCTYPE html>
<html>
  <head>
    <title>Connecti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="common-header">
  		<div class='logo'>
  			<img width="36%" src="http://www.iconarchive.com/download/i52596/giannis-zographos/english-football-club/Manchester-United.ico">
  		</div>

  		<div class='auth-info-links'>
  			<% if user_signed_in? %>
  			<p id="email_id"><%= current_user.email %></p>
  			<p class="l1"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>

  			<% else %>

  				<p class="l1"><%= link_to "Sign In", new_user_session_path %></p>
  				<p class="l1"> <%= link_to "Sign Up", new_user_registration_path %></p>
  			<% end %>
  		</div>
  	</div>


    <%= yield %>
  </body>
</html>






